body{
    font-size: 25px;
}
.container{
    margin: auto;
    max-width: 720px;
    border: 3px solid black;
}

.checkContainer{
    margin: 0 7%;
    text-align: center;
}

form{
    margin: 15px;
}

input{
    font-size: 65%;
    border-radius: 5px;
}
input:focus {
    outline: none;
    box-shadow: 0 0 1px #000000;
}
h1{
    margin: 10px;
}
.wordSpan{
    font-size: 45px;
}
fieldset label{
    padding: 2px;
    margin: 3px;
    justify-content: center;
}


/* CSS */
.button-6 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 26px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-6:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button-6:active {
  outline: 0;
}


@media (max-width: 420px) {
  .button-6 {
    height: 24px;
  }
}
